  body {
   margin: 0;
   text-align: center;
   }
   
  .header {
  background-color: #f1f1f1;
  padding: 20px;
  text-align: center;
  }
  
  .navigation {
  overflow: hidden;
  background-color: #333;  
  }
  
  .navigation a {
  float: left;
  display: block;
  color: #BCC6CC;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  }
  
  .navigation a:hover {
  background-color: #ddd;
  color: black;
  }    
    
  .section1{
	 width: 30%;
	 float: left;
	 padding: 0px;
	 margin: 0px 20px;
  }
  
  .section1 h3{
     background-color: lightgrey;
	 color: teal;
	 font-size: 130%;
	 padding: 15px;
  }
  
  td{
	 padding: 8px;
  }

  .container:after {
  content: "";
  display: table;
  clear: both;
  }

  @media screen and (max-width: 600px) {
  div.section1, div.section2, div.section3 {
  width: 100%;
  }
  }
 
 .footer {  
  padding: 20px;
  text-align: center;
  font-family:verdana;
  color:grey;
  font-size:12px
  }